html,body{overflow-x: hidden;}
body {
    
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.127));
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

.div {
    height: fit-content;
    padding-bottom: 10%;
    border-style: solid;
    border-top: rgba(0, 0, 0, 0);
    background-color: white;
}
.c-item{
    height: auto;
    margin: auto;
}
.navbar-text{
    font-size: 10vw;
}
.description{
    margin-top: 5%; 
    margin-bottom: 5%;
    font-size: 1.2vw;
}
#mainImg{
    object-fit:cover; 
    height:100vh;
    color:rgba(0, 0, 0, 0.7);
    background-size: 100% 100%;
    width: 100%;
    filter: brightness(50%);
}
.top-left{
    position: absolute;
    top: 10vh;
    left: 10vw;
}
@media (min-width: 300px){
    
    nav{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: fixed;
        border-top-width:2px;
        border-top-color:#212529;
    }
    
    #navbarScrollContainer{
        text-align: end;
        display: flex;
        justify-content: end;
        
    }
    .div{
        border-width: 2px;
    }
    .c-item{
        width: 100%
    }
    .logo{
        max-width: 15vw;
        max-height: auto;        
    }
    .description{
        margin-top: 5%; 
        margin-bottom: 5%;
        font-size: 1rem;
    }
}
@media (min-width: 600px){
    .div{
        border-width: 1px;
    }
    .c-item{
        width: 80%
    }
    .logo{
        max-width: 10vw;
        max-height: auto;
        
    }
    .description{
        margin-top: 5%; 
        margin-bottom: 5%;
        
    }
    
}
@media (min-width: 900px){
    
    #navbarScrollContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    nav{
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        position: fixed;
        border-bottom-color: white;
        border-left-color: white;
        border-right-color: white;
        border-style: solid;
        border-width: 1px;
    }
    .c-item{
        width: 70%;
    }
    .logo{
        max-width: 10vw;
        max-height: auto;   
    }
    .description{
        margin-top: 5%; 
        margin-bottom: 5%;
        
    }
}
